/* @import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/resume_cv/images/background.png');
  background-size: contain;
  background-repeat: round;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Road Rage", sans-serif;
  font-size: 2rem;


}

.title h1 {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #FFD43B; /* Amarillo */
  text-shadow: 0 0 10px #FFD43B, 0 0 20px #FFD43B, 0 0 30px #FFD43B, 0 0 40px #FFD43B, 0 0 50px #FFD43B, 0 0 60px #FFD43B, 0 0 70px #FFD43B;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.img_box_left,
.img_box_rigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}


img {
  width: 19rem;
  height: 16rem;
  border-radius: 6%;
}

#img_español:hover,
#img_ingles:hover {
  padding: 2px;
}