@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(#e1d9d1, #091607);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Road Rage", sans-serif;
  font-size: 2em;
  
}
.title h1 {
  color: rgba(255, 255, 255, 0.842);
  text-align: center;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 4px #000000;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}
.box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.img_box_left,
.img_box_rigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* margin: 25px 0 25px 0; */
}


img {
  width: 19rem;
  height: 15rem;
  border-radius: 5%;
}

#img_español:hover, #img_ingles:hover {
  background:black;
  padding: 2px;
  box-shadow: 10px 1px 20px 15px #15010151;
}